.personal-information {
  border-radius: 8px;
  padding: 20px;
  border: solid 2px rgb(43, 43, 43);
}

h1 {
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 28px;
}