.curriculum-container {
  width: 595px;
  height: 842px;
  background-color: white;
}

.curriculum-container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 120px;
  background-color: rgb(75, 75, 153);
}

.curriculum-container h1 {
  font-size: 24px;
}

.header .contact {
  font-size: 0.8rem;
  display: flex;
  gap: 8px;
}

.header .contact div {
  display: flex;
  gap: 2px;
}

.curriculum-container .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  color: black;
}

.curriculum-container .education h2,
.curriculum-container .experience h2 {
  font-size: 0.9rem;
  margin-bottom: 14px;
}

.education .items,
.experience .items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content .education .info,
.content .experience .info {
  display: flex;
  font-size: 0.8rem;
  gap: 16px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.description-curriculum {
  margin-top: 20px;
  font-size: 0.8rem;
}

.right {
  flex: 1;
}

.name {
  font-weight: 700;
}